//公共代码
// 1.设置公共颜色
@main-color:#006699;
// 2.设置公共样式
html {
    font-size: 26.6667vw;
}
body{
    font-size: .14rem;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}
img{
    vertical-align: middle;
}

// 头部区域
#header {
    z-index: 999;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    background-color:@main-color;
    color: #fff;
    display: flex;
    .left{
        line-height: .45rem;
        text-align: center;
        width: .45rem;
        height: .45rem;
        a{
            color: #fff; 
        }
    }
    .center{
        flex: 1;
        text-align: center;
        line-height: .45rem;
     h4{
        font-weight: normal;
        line-height: .45rem;
     }
        
        input {
            font-size:.14rem; 
            margin-bottom: 0;
            color: #000;
            text-align: left;
            border-radius:0.06rem;
            height: .34rem; 
        }


    }
    .right{
        line-height: .45rem;
        text-align: center;
        width: .45rem;
        height: .45rem;
        a{
            color: #fff; 
        }
    }
}

// 主体区域

#main{
    position: relative; 
   

    background-color: #fff;
    .search-commodity{
        display: flex;
        padding: .1rem;
        input{
            height: .34rem;
            margin-bottom: 0;
            border-color:  @main-color;
            font-size: .14rem;
            border-radius:.06rem 0rem 0rem .06rem;
        }
        button{
            border-color: @main-color;
            background-color: @main-color;
            width: .6rem;
            height: .34rem;
            border-radius:0rem .06rem .06rem 0rem;
        }
    }
    padding: .45rem 0;
    height:100vh ;
    .mui-scroll-wrapper{
        //插件是绝对定位 父元素的padding没有用  需要设置设置相对定位
        height: 100%;
        position: relative;
    }
    .mask{
        position: absolute;
        background-color: #ccc;
        width: 100%;
        height: 100%;
        z-index: 998;
    }
}
//底部区域
#footer {
    z-index:999 ;
    position: fixed;
    width: 100%;
    bottom:0;
    left:0;
    background-color:@main-color;
    
    a{
        height: .45rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        span{
            line-height:1 ;
        }
        &.active{
            color: orange;
        }
    }
}


// 公共样式的css

.loader {
    width: 20em;
    height: 20em;
    font-size: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
	margin:100px auto;
}

.loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate 3s linear infinite;
}

.loader .face:nth-child(1) {
    width: 100%;
    height: 100%;
    color: gold;
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0em 0em;
    --deg: -45deg;
    animation-direction: normal;
}

.loader .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: lime;
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0em 0em 0.2em;
    --deg: -135deg;
    animation-direction: reverse;
}

.loader .face .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
}

.loader .face .circle::before {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    content: '';
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2em,
                0 0 4em,
                0 0 6em,
                0 0 8em,
                0 0 10em,
                0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate {
    to {
        transform: rotate(1turn);
    }
}



  