@import "base.less";
#main{
    display: flex;
    .category-left{
        width: .8rem;
    }
    .category-right{
        flex: 1;
        a{
            display: block;
            text-align: center;
            background-color: #fff;
            img{
                width: 100%;
            }
        }
    }
}