html {
  font-size: 26.6667vw;
}
body {
  font-size: .14rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  vertical-align: middle;
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #006699;
  color: #fff;
  display: flex;
}
#header .left {
  line-height: .45rem;
  text-align: center;
  width: .45rem;
  height: .45rem;
}
#header .left a {
  color: #fff;
}
#header .center {
  flex: 1;
  text-align: center;
  line-height: .45rem;
  font-weight: normal;
}
#header .center input {
  font-size: .14rem;
  margin-bottom: 0;
  color: #000;
  text-align: left;
  border-radius: 0.06rem;
  height: .34rem;
}
#header .right {
  line-height: .45rem;
  text-align: center;
  width: .45rem;
  height: .45rem;
}
#main {
  position: relative;
  padding: .45rem 0;
  height: 100vh ;
}
#main .mui-scroll-wrapper {
  height: 100%;
  position: relative;
}
#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #006699;
}
#footer a {
  height: .45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#footer a span {
  line-height: 1 ;
}
#footer a.active {
  color: orange;
}
#main {
  display: flex;
}
#main .category-left {
  width: .8rem;
}
#main .category-right {
  flex: 1;
}
#main .category-right a {
  display: block;
  text-align: center;
  background-color: #fff;
}
#main .category-right a img {
  width: 100%;
}
