html {
  font-size: 26.6667vw;
}
body {
  font-size: .14rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  vertical-align: middle;
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #006699;
  color: #fff;
  display: flex;
}
#header .left {
  line-height: .45rem;
  text-align: center;
  width: .45rem;
  height: .45rem;
}
#header .left a {
  color: #fff;
}
#header .center {
  flex: 1;
  text-align: center;
  line-height: .45rem;
}
#header .center h4 {
  font-weight: normal;
  line-height: .45rem;
}
#header .center input {
  font-size: .14rem;
  margin-bottom: 0;
  color: #000;
  text-align: left;
  border-radius: 0.06rem;
  height: .34rem;
}
#header .right {
  line-height: .45rem;
  text-align: center;
  width: .45rem;
  height: .45rem;
}
#header .right a {
  color: #fff;
}
#main {
  background-color: #fff;
  padding: .45rem 0;
  height: 100vh ;
}
#main .search-commodity {
  display: flex;
  padding: .1rem;
}
#main .search-commodity input {
  height: .34rem;
  margin-bottom: 0;
  border-color: #006699;
  font-size: .14rem;
  border-radius: .06rem 0rem 0rem .06rem;
}
#main .search-commodity button {
  border-color: #006699;
  background-color: #006699;
  width: .6rem;
  height: .34rem;
  border-radius: 0rem .06rem .06rem 0rem;
}
#main .mui-scroll-wrapper {
  height: 100%;
  position: relative;
}
#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #006699;
}
#footer a {
  height: .45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#footer a span {
  line-height: 1 ;
}
#footer a.active {
  color: orange;
}
#main .mui-btn {
  width: 100%;
}
